.footer{
    background-color: #172230;
    width: 100%;
    height: 121px;
    padding: 20px 30px;
    span{
        font-size: 14px;
        line-height: 1.55;
        font-weight: 700;
        color: white;
    }
}