.header {
  font-family: Arial, Helvetica, sans-serif;
}

.header .header__pannel {
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.479);
  padding: 0 14px;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.header .header__pannel .header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__pannel .header__body .header__logo {
  width: 210px;
}

.header .header__pannel .header__body .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__pannel .header__body .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.header .header__pannel .header__body .header__navigation li {
  padding: 0;
  margin: 0 15px;
  list-style-type: none;
}

.header .header__pannel .header__body .header__navigation li a {
  color: #ffffff;
  font-size: 18px;
  font-family: 'VTB-FONT',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 400;
  text-decoration: none;
}

.header .header__pannel .header__body .header__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__pannel .header__body .header__task .header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__pannel .header__body .header__task .header__tel span img {
  margin: 0 10px 0 0;
  width: 25px;
  height: 25px;
}

.header .header__pannel .header__body .header__task .header__tel span a {
  color: #ffffff;
  font-size: 24px;
  font-family: 'VTB-FONT',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 400;
  text-decoration: none;
}

.header .header__pannel .header__body .header__task .header__button {
  margin: 0 0 0 15px;
}

.header .header__pannel .header__body .header__task .header__button button {
  color: #ffffff;
  font-size: 16px;
  font-family: 'VTB-FONT',Arial,sans-serif;
  line-height: 1.55;
  width: 220px;
  height: 45px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #bea582;
  text-align: center;
  font-weight: 600;
}

.header .header__pannel .header__body .header__task .header__button .hover:hover {
  -webkit-transition: ease-in-out 0.2;
  transition: ease-in-out 0.2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #bea582;
  background-color: white;
}

.header .header__content {
  background-image: url(https://www.kvartiravmoskve.ru/uploads/fck/file/1%D1%81%D1%82%D0%B0%D1%80%D1%8B%D0%B9%20%D1%86%D0%B5%D0%BD%D1%82%D1%80.jpg);
  height: 640px;
  width: 100%;
  background-size: cover;
}

.header .header__content .header__bloceter {
  width: 100%;
  height: 100px;
  margin: 0 0 100px 0;
}

.header .header__content .header__text {
  margin: 0 0 37px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__content .header__text h1 {
  color: #ffffff;
  font-size: 90px;
  font-family: 'VTB-FONT',Arial,sans-serif;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.header .header__content .header__text h2 {
  margin: 25px 0;
  color: #ffffff;
  font-size: 37px;
  font-family: 'VTB-FONT',Arial,sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

.header .header__content .header__text button {
  margin: 10px 0;
  color: #ffffff;
  font-size: 16px;
  font-family: 'VTB-FONT',Arial,sans-serif;
  line-height: 1.55;
  width: 220px;
  height: 45px;
  border-radius: 30px;
  background-color: #bea582;
  text-align: center;
  font-weight: 600;
  border: none;
}

.header .header__content .header__text .hover:hover {
  -webkit-transition: ease-in-out 0.2;
  transition: ease-in-out 0.2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #bea582;
  background-color: white;
}

.header .header__content .header__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 120px;
}

.hover:hover {
  -webkit-transition: ease-in-out 0.2;
  transition: ease-in-out 0.2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #bea582;
  background-color: white;
}
/*# sourceMappingURL=header.css.map */